# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# IDE
.idea/
.vscode/

# Virtual Environment
venv/
env/
.env/

# Operating System
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*~

# PDF Test files
*.pdf

# Log files
*.log

# Database
*.db
*.sqlite3

# Local development settings
.env
src/pdf_annotation_extractor/pdf_utils-old.py
src/pdf_annotation_extractor/translations-old.py
src/pdf_annotation_extractor/gui-old.py
